@page
@model task6.Pages.LetterModel
@{
}
<link href="/css/style.css" rel="stylesheet" />
<div class="cont">
	<h1>Випадкова літера Англійського алфавіту:</h1>
	<h2>Літера : <b style="color:blue">"@Model.Letter"</b> </h2>

	<a href="/letter">Інша випадкова літера</a>

</div>
