@page
@model task6.Pages.RestaurantModel
@{
}
<link href="/css/style.css" rel="stylesheet" />
<div class="cont">
	<h1>"@Model.Name"</h1>
	<h3><b>Адреса:</b> @Model.Address</h3>
	<h3><b>Кухня:</b> @Model.Cuisine</h3>
	<h3><b>Опис:</b> @Model.Description</h3>

</div>

